/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

@import "./reset.css";
@import "./variable.css";

/* components */
@import "./components/header.css";
@import "./components/arrow-up.css";
@import "./components/animation.css";
@import "./components/status-bar.css";

/* screen */
@import "./screen/prev.css";
@import "./screen/home.css";
@import "./screen/project.css";
@import "./screen/about-me.css";
@import "./screen/contact.css";

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  overflow-x: hidden;
  /* contain: style layout inline-size; */
  background-color: gray;
  position: relative;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Section common */
.section {
  /* padding: 0 50px; */
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

.photo-png {
  margin-top: -30px;
  margin-left: -25px;
  width: 100%;
  height: 100%;
  animation: rotate 3s infinite;
  background: url("../img/avatar2.png");
  background-size: cover;
  position: relative;
}

.photo-png:hover {
  background: url("../img/avatar3.png");
  margin-left: 0;
  animation: none;
}

.swiper-slide:nth-child(1) .slide-img {
  background-image: url("../img/pc-youtube.png");
}
.swiper-slide:nth-child(2) .slide-img {
  background-image: url("../img/pc-universe.png");
  object-fit: cover;
}
.swiper-slide:nth-child(3) .slide-img {
  background-image: url("../img/pc-kakao.png");
}
.swiper-slide:nth-child(4) .slide-img {
  background-image: url("../img/pc-saladish.png");
}
.swiper-slide:nth-child(5) .slide-img {
  background-image: url("../img/pc-seashore.png");
}
.swiper-slide:nth-child(6) .slide-img {
  background-image: url("../img/pc-iphone.png");
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .section {
    padding: 16px;
    padding-top: 40px;
  }
}
