/* BG TEXT
  =========================== */
#project {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  border-radius: 10% 10% 0 0;
  overflow-x: hidden;
}

/* BG TEXT
  =========================== */
.bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  width: 100%;
  /* height: 100vh; */
}

.bg-text h1 {
  font-size: 250px;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 5px white;
  text-transform: uppercase;
}

.main-name {
  position: absolute;
  text-transform: uppercase;
  top: 120px;
  left: 10%;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.4);
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

/* SLIDER
    =========================== */
.swiper-container {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px 100px;
  margin: 0;
}

.swiper-wrapper {
  transition-delay: 0.5s;
}

.swiper-slide {
  width: 80%;
  height: 60vh;
}

.slide-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-img {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  flex: 0 1 700px;
  position: relative;
  &:hover::after {
    opacity: 0.1;
  }
}

.slide-description {
  flex: 0 1 800px;
  width: 100%;
  margin: 0 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 20px;
}
.slide-anchor {
  display: flex;
  justify-content: space-around;
  width: 100%;
  z-index: 999;
  font-size: var(--font-regular);
  div {
    all: unset;
    min-width: 115px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  .fa-n {
    border: 1px solid rgba(0, 0, 0, 0.7);
    padding: 0.3rem;
  }
}

.btn-16 {
  a {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
    /* background: #bababa; */
    text-shadow: #e0e0e0 1px 1px 0;
    i {
      margin-right: 0.3rem !important;
    }
  }
  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
      7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
    border-radius: 5px;
  }
  &:hover::after {
    left: auto;
    right: 0;
    width: 100%;
  }
  &:active {
    top: 2px;
  }
}

.slide-number {
  position: absolute;
  top: 2rem;
  right: 10px;
  z-index: 1;
  width: 130px;
  height: 100px;
  overflow: hidden;
  line-height: 70px;
  transition: 1s;
  font-weight: 700;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
  p {
    color: rgba(255, 255, 255, 0.4);
    width: 70px;
    font-size: 60px;
    position: relative;
    span {
      position: absolute;
    }
  }
}

.slide-text {
  position: absolute;
  bottom: 10%;
  left: -10%;
  z-index: 1;
  width: 100%;
  height: 100px;
  overflow: hidden;
  line-height: 70px;
  transition: 1s;
  color: white;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  h4 {
    text-transform: uppercase;
    font-size: 50px;
    position: relative;
    font-weight: var(--weight-bold);
    span {
      position: absolute;
      right: 0;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  background-image: none;
  position: absolute;
  &::after {
    content: "";
    width: 30px;
    height: 30px;
    border-top: 8px solid white;
    border-right: 8px solid white;
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 10%;
  }
}
.swiper-button-next {
  top: 50%;
  right: 10%;
}
.swiper-button-prev {
  left: 10%;
  &::after {
    transform: rotate(225deg);
    left: 10%;
  }
}

.slide-des__p {
  width: 100%;
  height: calc(100% - 42px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  color: white;
  > div[class*="des__p"] {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  [class*="top"] {
    font-size: 28px;
    font-weight: 700;
    color: transparent;
    background: black;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  }
  [class*="bottom"] {
    display: flex;
    > div {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 1rem;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.7);
      text-shadow: #e0e0e0 1px 1px 0;
    }
    .tit {
      font-size: 22px;
    }
    ul {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      li {
        font-size: 20px;
        a {
          color: inherit;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .bg-text h1 {
    font-size: 130px;
  }
  .main-name {
    top: 110px;
    font-size: 50px;
  }
  .swiper-slide {
    width: 100%;
    height: 90vh;
  }
  .slide-wrap {
    flex-direction: column;
    align-items: center;
  }
  .swiper-container {
    padding: 0 10px;
  }
  .slide-img {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
  }
  .slide-description {
    width: 80%;
    height: 100%;
    max-width: 600px;
    margin: 0;
    margin-top: 0;
  }
  .slide-text {
    bottom: 0;
    left: -20%;
    h4 {
      font-size: 40px;
    }
  }
  .slide-des__p {
    ul li {
      margin: 5px 0;
    }
    [class*="top"] {
      margin: 10px 0;
      font-size: 18px;
    }
    [class*="bottom"] {
      height: 100%;
    }
    [class*="b"] {
      padding-left: 10%;
      ul {
        font-size: 14px;
      }
    }
  }
  .slide-anchor {
    bottom: 10%;
    font-size: 15px;
    div {
      width: 80px;
      height: 18px;
      padding: 8px 15px;
    }
  }
}

@media screen and (max-width: 480px) {
  .bg-text h1 {
    font-size: 60px;
    -webkit-text-stroke: 3px white;
  }
  .main-name {
    top: 90px;
    font-size: 40px;
  }

  .slide-img {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
  }
  .slide-text {
    bottom: 10px;
    left: -20%;
  }

  .slide-text h4 {
    font-size: 28px;
  }
  .slide-number {
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    line-height: 50px;
    p {
      width: 50px;
      font-size: 50px;
    }
  }
  .slide-description {
    width: 80%;
    height: 100%;
    margin: 0;
    margin-top: 0;
  }

  .slide-anchor {
    bottom: 10%;
    font-size: 13px;
    > div {
      width: 70px;
      height: 18px;
      padding: 8px 15px;
    }
  }
  .slide-des__p {
    ul {
      margin-top: 5px;
      li {
        margin: 5px 0;
      }
    }
    [class*="b"] {
      padding-left: 5%;
      ul {
        font-size: 12px;
      }
    }
    [classs^="top"] {
      font-size: 15px;
    }
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    width: 15px;
    height: 15px;
  }
}
