#home {
  background-color: black;
}

.homeslide {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: black;
}

.homeslide-item {
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 0;
  animation: bgslide 60s infinite;
}
.homeslide-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoom 10s linear infinite;
}

.homeslide-item:nth-child(1) {
  animation-delay: 0s;
}
.homeslide-item:nth-child(2) {
  animation-delay: 10s;
}
.homeslide-item:nth-child(3) {
  animation-delay: 20s;
}

.homeslide-item:nth-child(4) {
  animation-delay: 30s;
}
.homeslide-item:nth-child(5) {
  animation-delay: 40s;
}
.homeslide-item:nth-child(6) {
  animation-delay: 50s;
}

.homeslide-item-text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  /* background-color: rgba(0, 0, 0, 0.4); */
  padding: 10rem 5rem;
}

.homeslide-item-text h5 {
  /* color: white; */
  color: white;
  font-size: 120px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.homeslide-item-text p {
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 300;
  color: white;
}

/* scroll */
.scroll-wrap {
  position: relative;
  width: 100%;
  height: 1000px;
  overflow-x: hidden;
}
#scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(0px at center center);
}
.outterText {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  white-space: nowrap;
  color: transparent;
  -webkit-text-stroke: 2px white;
  font-size: 10vw;
  width: 100%;
  text-align: center;
}

.innerText {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  white-space: nowrap;
  color: white;
  font-size: 10vw;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .scroll-wrap {
    display: none;
  }
  .homeslide-item-text h5 {
    font-size: 80px;
  }
}

@media screen and (max-width: 480px) {
  .homeslide-item-text h5 {
    font-size: 40px;
  }
  .homeslide-item-text {
    padding: 0;
    transform: translateX(25%);
  }
}
