@keyframes slideshow {
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}
@keyframes bgslide {
  10% {
    opacity: 1;
  }
  17% {
    opacity: 0;
  }
}

@keyframes zoom {
  100% {
    transform: scale(1.2);
  }
}

@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -3000px;
  }
}

@keyframes arrowUp {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 15px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes kurukuru {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes goDown {
  0% {
    margin-top: -50px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes animateBg {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 40px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0);
  }
}
